<nav class="navbar navbar-expand-lg navbar-dark bg-transparent border-bottom">
    <div class="container" data-aos="fade-down" data-aos-delay="100" data-aos-duration="400">
      <a class="navbar-brand me-10" href="#">
          {{> logo/logo }}
      </a>
      <ul class="navbar-nav me-auto d-none d-lg-flex mb-lg-0">
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center me-5 tracking-wide" href="#"><i class="ri-dribbble-line ri-xl me-2 align-middle"></i> Dribbble</a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-flex align-items-center tracking-wide" href="#"><i class="ri-behance-fill ri-xl me-2 align-middle"></i> Behance</a>
        </li>
      </ul>
      <button class="border-0 bg-transparent btn-open-slideout btn-toggle-slideout">
        <span class="f-w-10 f-h-1 bg-white d-block mb-2"></span>
        <span class="f-w-10 f-h-1 bg-white d-block mb-2"></span>
        <span class="f-w-10 f-h-1 bg-white d-block"></span>
      </button>
    </div>
  </nav>