<!-- Swiper Latest -->
<div class="swiper-container pb-10" data-swiper data-options='{
    "spaceBetween": 100,
    "slidesPerView": 1,
    "loop": true,
    "autoplay": {
      "delay": 5000,
      "disableOnInteraction": false
    },
    "scrollbar": {
        "el": ".swiper-scrollbar",
        "hide": false,
        "draggable": true
      }, 
    "navigation": {
      "nextEl": ".swiper-next",
      "prevEl": ".swiper-prev"
    },   
    "breakpoints": {
      "992": {
        "slidesPerView": 2
      }
    }
  }'>
  <div class="swiper-wrapper">
    {{#if (config testimonials) }}
      {{#each testimonials.entries}}
        <div class="swiper-slide">
          <p class="lead">"{{ testimonial }}"</p>
          <p class="mt-5 fw-bold mb-2 fs-5">{{ person }}</p>
          <span class="text-muted">{{ title }}</p>
        </div>
      {{/each}}
    {{/if}}
  </div>

  <!-- Add Scrollbar -->
  <div class="swiper-scrollbar"></div>


</div>

  <!-- Swiper Arrows -->
  <div class="d-none d-lg-block btn-swiper swiper-prev cursor-pointer position-absolute top-0 end-0 me-8 mt-9 f-w-12">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left-circle"><circle cx="12" cy="12" r="10"></circle><polyline points="12 8 8 12 12 16"></polyline><line x1="16" y1="12" x2="8" y2="12"></line></svg>
  </div>
  <div class="d-none d-lg-block btn-swiper swiper-next cursor-pointer position-absolute top-0 end-0 mt-9 f-w-12">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right-circle"><circle cx="12" cy="12" r="10"></circle><polyline points="12 16 16 12 12 8"></polyline><line x1="8" y1="12" x2="16" y2="12"></line></svg>
  </div>

<!-- / Swiper Latest-->