<!-- Footer-->
<footer class="container mb-10 {{configClassList}} {{classList}}">
    <h6 class="display-2 tracking-wide mb-3" data-aos="slide-up">Want to work with me?</h6>
    <p class="text-muted lead tracking-wide mb-5" data-aos="reveal-left" data-aos-delay="500">Get the ball rolling</p>
    <a href="#" class="text-warning display-6 font-serif tracking-wide text-decoration-none" data-aos="reveal-right" data-aos-delay="1200">hello@ben.lucia</a>

    <ul class="list-unstyled d-flex mt-5 mb-4" data-aos="fade-up">
        <li class="me-7"><a class="text-body text-decoration-none" href="#">Dribbble</a></li>
        <li class="me-7"><a class="text-body text-decoration-none" href="#">Behance</a></li>
        <li class="me-7"><a class="text-body text-decoration-none" href="#">LinkedIn</a></li>
        <li class="me-7"><a class="text-body text-decoration-none" href="#">Instagram</a></li>
    </ul>

    <p class="text-muted" data-aos="fade-up">All rights reserved. © Ben Lucia 2021. Template made with ❤️️ by <a href="https://www.pixelrocket.store">Pixel Rocket</a></p>

</footer>
<!-- / Footer-->

<!-- Modal Imports-->
{{> modals/modals }}
<!-- / Modal Imports-->

<!-- Slideout-->
{{> slideout/slideout }}
<!-- / Slideout -->