<!-- Slideout-->
<div class="slideout text-dark">

    <!-- slideout Backdrop-->
    <div class="slideout-bg"></div>
    <!-- slideout Backdrop-->

    <!-- Slideout Bg Image-->
    <div class="slideout-img">
    </div>
    <!-- Slideout Bg Image-->

    <!-- Slideout Body-->
    <div class="slideout-body">

        <!-- Close Btn-->
        <button class="btn-close-slideout btn-toggle-slideout"><i class="ri-close-circle-line ri-2x"></i></button>
        <!-- Close Btn-->
        <div>
            <!-- Slideout Menu-->
            <div class="my-4 my-md-7 my-lg-10">
                <nav class="slideout-nav">
                    <ul class="m-0 p-0 list-unstyled text-dark">
                        <li class="slideout-navitem">
                            <a class="slideout-navlink" href="#"
                                data-pixr-scrollto
                                data-target=".about"
                            >
                                About Me
                            </a>
                        </li>
                        <li class="slideout-navitem">
                            <a class="slideout-navlink" href="#"
                                data-pixr-scrollto
                                data-target=".portfolio"
                            >
                                My Portfolio
                            </a>
                        </li>
                        <li class="slideout-navitem">
                            <a class="slideout-navlink" href="#"
                                data-pixr-scrollto
                                data-target=".experience"
                            >
                                My Experience
                            </a>
                        </li>
                        <li class="slideout-navitem">
                            <a class="slideout-navlink" href="#"
                                data-pixr-scrollto
                                data-target=".skills"
                            >
                                My Skills
                            </a>
                        </li>
                        <li class="slideout-navitem">
                            <a class="slideout-navlink" href="#"
                                data-pixr-scrollto
                                data-target=".testimonials"
                            >
                                Testimonials
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- /Slideout Menu-->

            <!-- Slideout Contact-->
            <div class="slideout-contact">
                <ul class="m-0 p-0 list-unstyled">
                    <li class="d-flex align-items-center mb-3">
                        <i class="ri-mail-line me-3 text-primary"></i>
                        <span>hello@ben.lucia</span>
                    </li>
                    <li class="d-flex align-items-center">
                        <i class="ri-smartphone-line me-3 text-primary"></i>
                        <span>+44 (0)208 1234 345</span>
                    </li>
                </ul>
            </div>
            <!-- /Slideout Contact-->
        </div>
        <!-- Slideout Socials-->
        <div class="slideout-socials d-none d-md-flex">
            <ul class="list-unstyled m-0 p-0">
                <li>
                    <a class="text-decoration-none text-muted d-flex align-items-center mb-2 text-primary-hover"
                        href="#"><i class="ri-dribbble-line ri-lg me-3 align-middle"></i> Dribbble</a>
                </li>
                <li>
                    <a class="text-decoration-none text-muted d-flex align-items-center mb-2 text-primary-hover"
                        href="#"><i class="ri-behance-fill ri-lg me-3 align-middle"></i> Behance</a>
                </li>
            </ul>
        </div>
        <!-- /Slideout Socials-->
    </div>
    <!-- /Slideout Body-->

</div>
<!-- Slideout-->