<div class="modal fade" id="portfolioModal" tabindex="-1" aria-labelledby="portfolioModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content overflow-hidden">
            <div class="modal-body p-0">
                <div class="row g-0">
                    <!-- Profile Image-->
                    <div class="col-12 col-lg-6">
                        <picture>
                            <img class="portfolio-modal-img img-fluid" src="" alt="{{ config.defaultImgAlt }}">
                        </picture>
                    </div>
                    <!-- Profile Description-->
                        <div class="col-12 col-lg-6 text-dark align-items-center d-flex">
                            <div class="p-6 py-lg-4">
                                <div class="intro">
                                    <h3 class="display-5 mb-3"></h3>
                                    <p class="text-muted"></p>
                                </div>
                                <div class="client my-4">
                                    <p class="text-uppercase small fw-bolder mb-1">Client</p>
                                    <p class="text-muted small"></p>
                                </div>
                                <div class="category">
                                    <p class="text-uppercase small fw-bolder mb-1">Category</p>
                                    <p class="text-muted small"></p>
                                </div>
                            </div>
                        </div>
                    <!-- / Profile Description-->
                </div>
            </div>
        </div>
    </div>
</div>