<div class="row g-5 about py-5">
    <div class="col-12 col-xl-6" data-aos="reveal-left">
        <h3 class="display-5">I am a multi-discipline graphic designer who enjoys challenges of all shapes and sizes.</h3>
    </div>
    <div class="col-12 col-xl-6 opacity-90" data-aos="reveal-right" data-aos-delay="250">
        <p>I create logos and illustrations that stand out in today’s overstimulated world. I use my skill set to study your company culture while strategizing about what you want the audience to think when they see it again in some other capacity.</p>
        <p></p>Ultimately creating graphics with an intelligent tone which bridges that gap between business and consumer interaction for both parties involved.</p>
    </div>
</div>